@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(210, 210, 210, 0.2);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.home_container .text-banner {
  position: absolute;
  z-index: 10;
  top: 35%;
  left: 5%;
  margin-right: 5%;
}

.home_container .text-banner h3 {
  font-size: 4em;
  font-weight: 700;
  background: linear-gradient(to left, #ff8800, rgb(224, 13, 190));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1em;
  text-transform: uppercase;
  margin-top: 10px;
}

.home_container .text-banner p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.home_container #bg-vid {
  height: 100vh;
  min-height: 400px;
  width: 100%;
}

.btn.focus,
.btn:focus {
  box-shadow: none !important;
}

.home_container video {
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.home_container .overlayLeftBtn {
  padding: 3px 6px;
  background-color: hsl(222, 100%, 95%);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.home_container .overlayLeftBtn span {
  color: #ff9800;
  position: relative;
  z-index: 1;
  transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  font-size: 1.1rem;
}

.home_container .overlayLeftBtn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 6px;
  transform: translate(-101%, -50%);
  width: 100%;
  height: 100%;
  background-color: #ff9800;
  transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
}

.home_container .overlayLeftBtn:hover span {
  color: hsl(222, 100%, 95%);
}

.home_container .overlayLeftBtn:hover::before {
  transform: translate(0, -50%);
}

.home_container .slideUpBtn {
  padding: -1px 24px;
  background-color: transparent;
  border: 2px solid orange;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(1, 0.15, 0.34, 0.92);
}

.home_container .slideUpBtn span {
  display: inline-block;
  transition: inherit;
  color: hsl(46, 84%, 58%);
}

.home_container .slideUpBtn:hover span {
  opacity: 0;
  transform: translateY(-100%);
}

.home_container .slideUpBtn::before {
  content: "";
  background-color: orange;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: inherit;
  width: 100%;
  transition: transform 0.5s cubic-bezier(1, 0.15, 0.34, 0.92);
}

.home_container .slideUpBtn::after {
  content: "Hurry up!";
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  transition: inherit;
  transform: translateY(100%);
  width: 100%;
}

.home_container .slideUpBtn:hover::before {
  transform: translateY(0) scale(3);
  transition-delay: 0.025s;
}

.home_container .slideUpBtn:hover::after {
  opacity: 1;
  color: hsl(222, 100%, 95%);
  transform: translateY(0);
}

.home_container .card-img-top {
  object-fit: cover;
  object-position: center;
}

.home_container .card-info {
  background-color: rgba(210, 210, 210, 0.8);
  color: black;
  box-shadow: 5px 5px 8px grey;
  transition: 500ms;
}

.home_container .card-info:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: orange;
  color: #fff;
  box-shadow: 10px 10px 16px grey;
  transition: 500ms;
}

.home_container .carousel-inner img {
  object-fit: cover;
  object-position: center;
}

.home_container .footer {
  background-image: linear-gradient(rgb(20 20 20 / 80%), rgb(235 203 171 / 55%)),
    url(../photos/pexels-snapwire-699558.jpg);
  background-size: cover;
  background-position: bottom;
  box-shadow: none !important;
}

.home_container .footer-content {
  padding-top: 25px;
}

.home_container .footer a,
.home_container .footer a:hover,
.home_container .footer a:visited,
.home_container .footer a:link {
  color: #fff;
  text-decoration: underline;
}

.home_container .icons a {
  padding: 0px 10px;
}

.home_container .icons {
  margin: auto;
}

@media (max-width: 830px) and (min-width: 660px) {
  .home_container .text-banner {
    position: absolute;
    z-index: 10;
    top: 30%;
    left: 5%;
    margin-right: 5%;
  }

  .home_container .text-banner h3 {
    font-size: 3.5em;
  }
  .home_container .text-banner p {
    font-size: 1.2em;
  }
}
@media (max-width: 660px) and (min-width: 550px) {
  .home_container .text-banner {
    position: absolute;
    z-index: 10;
    top: 25%;
    left: 5%;
    margin-right: 5%;
  }

  .home_container .text-banner h3 {
    font-size: 3.5em;
  }
  .home_container .text-banner p {
    font-size: 1.2em;
  }
}
@media (max-width: 550px) and (min-width: 450px) {
  .home_container .text-banner {
    position: absolute;
    z-index: 10;
    top: 25%;
    left: 5%;
    margin-right: 5%;
  }

  .home_container .text-banner h3 {
    font-size: 3em;
  }
  .home_container .text-banner p {
    font-size: 1.2em;
  }
}
@media (max-width: 450px) {
  .home_container .text-banner {
    position: absolute;
    z-index: 10;
    top: 18%;
    left: 5%;
    margin-right: 5%;
  }

  .home_container .text-banner h3 {
    font-size: 2.7em;
    font-weight: 700;
  }

  p {
    font-size: 13px;
  }

  .home_container .overlayLeftBtn span {
    font-size: 1.1rem;
  }
}
